parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
            -
              message: '#Property [a-zA-Z0-9\\_]+::\$id is never written, only read.#'
              path: src/Entity/*
    level: 8
    paths:
        - src

    excludePaths:
        - 'src/Kernel.php'
